<?xml version='1.0' encoding='utf-8'?>
<widget id="com.megster.bluetoothserial.apidev" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BluetoothSerialApiDev</name>
    <description>
        Cordova application used for API testing while developing BluetoothSerial, https://github.com/don/BluetoothSerial.
    </description>
    <author href="http://github.com/don">
        Don Coleman
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
